# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Ignore data and neural network files
*.csv
*.data
*.net

# Ignore object and dependency files
*.o
*.d
